.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 35vh;
    left: 25%;
    width: 50%;
    z-index: 100;
    overflow: hidden;
    background: #682e19;
    font-size: 1.5rem;
    p {
      font-family: "Playfair Display", serif;
      background: linear-gradient(to bottom, #cfc09f 22%, #634f2c 24%, #cfc09f 26%, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
      color: #fff;
      text-transform: uppercase;
      font-size: 1.5rem;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0;
      font-weight: 400;
      margin-bottom: 30px;
      text-align: center;
    }
}

@media (min-width: 768px) {
    .modal {
      left: calc(50% - 25rem);
      width: 50rem;
      p {
        font-size: 2rem;
      }
    }
  }
  