.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 30px;
    height: 30px;
    background: #51474a;
    color: 	#F6E4C0;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.6rem;
}